html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    vertical-align: top;
}

/* 
Header
*/

.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    margin-bottom: 114px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 1200px;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 490px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    color: #95e1d3;
    font-size: 14px;
    transition: color 200ms linear;
}

.nav__link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    background-color: #f38181;
    opacity: 0;
    transition: opacity 200ms linear;
}

.nav__item:hover .nav__link, 
.nav__link:focus {
    color: #f38181;
}

.nav__item:hover .nav__link::after, 
.nav__link:focus::after {
    opacity: 1;
}

/* 
Main
*/

/* 
The First Section
*/

.subsection {
    margin-bottom: 88px;
}

.subsection__name {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    overflow: hidden;
    margin-bottom: 22px;
}

.subsection__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    overflow: hidden;
}

.subsection__title::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 43px;
    /* margin-bottom: 66px; */
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.product__list {
    margin-top: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.product__item {
    width: 382px;
    padding-left: 82px;
    background-position-x: 20px;
    background-position-y: 0;
    background-repeat: no-repeat;
}

.product__info {
    margin-bottom: 94px;
}

.product__name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 14px;
    color: #333333;
}

.product__descr {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

/* 
Icons
*/

.photography {
    background-image: url('../img/alarm.png');
}

.web__desing {
    background-image: url('../img/line_graph.png');
}

.creativity {
    background-image: url('../img/computer__ok.png');
}

.seo {
    background-image: url('../img/book_2.png');
}

.csshtml {
    background-image: url('../img/home.png');
}

.digital {
    background-image: url('../img/digital.png');
}

/* 
The Second Section
*/

.subsection__content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    margin-top: 46px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__member {
    width: 380px;
    position: relative;    
}

.img__member {
    transform: translate(0, 0);
    transition: transform 200ms linear;
}

.team__member:hover .img__member {
    transform: translate(-10px, -10px);
}

.team__member:hover .overlay {
    opacity: 1;
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138, .9) 0%, rgb(243,129,129, .9) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138, .9) 0%, rgb(243,129,129, .9) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138, .9) 0%, rgb(243,129,129, .9) 100%);
    box-shadow: 10px 10px 0 0 rgb(149, 225, 211);
    transform: translate(-10px, -10px);
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 380px;
    height: 470px;
    opacity: 0;
    transition: opacity 200ms linear, transform 200ms linear;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 224px;
    height: 56px;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    border-right: 1px solid rgb(243, 129, 129);
    transition: background-color 200ms linear;
}

.icon:nth-last-child(-n+1) {
    border-right: none;
}

.icon:hover, 
.icon:focus {
    background-color: rgb(149, 225, 211);
}  

.member__name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
}

.member__position {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

/* 
Footer
*/

.footer {
    width: 100%;
    height: 62px;
}

.footer__content::before {
    content: '';
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #999999;
    margin-bottom: 10px;
    text-align: center;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.copyright {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.design {
    color: #f38181;
}

.email__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input__area {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 230px;
    padding-left: 13px;
    color: #cccccc;
}

.button__sbscr {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    width: 151px;
    height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    background-color: #95e1d3;
}
