html {
    box-sizing: border-box;
} 

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1600px;
    margin: 0 auto; 
    vertical-align: top;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* 
Header
*/
.header {
    width: 70%;
}

.company__name {
    float: left;
    margin-top: 37px;
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
}

.company__name::first-letter {
    color: #1abc9c;
    font-weight: bold;
}

.navigation {
    float: right;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 38px;
}

.navigation a:hover, 
.navigation a:focus {
    color: #1abc9c;
}

.nav__item {
    float: left;
    text-align: center;
    padding: 0px 18px ;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #515151;
    font-size: 10px;
    line-height: 11px;
}

/* 
Slider
*/

.slider__item {
    position: relative;
}

.slider__item::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 2, .52);
    z-index: 1;
}

.slider__img {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slider__title {
    color: #ffffff;
    font-size: 60px;
    line-height: 82px;
    /* font-weight: bold; */
    text-transform: uppercase;
}

.slider__text {
    color: #ffffff;
    font-size: 24px;
    line-height: 54px;
    text-transform: uppercase;
}
  
.slider__buttons {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 50px;
    line-height: 11px;
    
}

.button__cntrl__prev {
    position: absolute;
    background-color: rgb(78, 198, 171, .651);
    width: 104px;
    height: 104px;
    left: 245px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 3;
}

.button__cntrl__next{
    position: absolute;
    background-color: rgb(26, 188, 156);
    width: 104px;
    height: 104px;
    left: 1252px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 3;
}

/* 
Main
*/


  