html {
    box-sizing: border-box;
} 

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1600px;
    margin: 0 auto; 
    vertical-align: top;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* 
Header
*/

.header {
    width: 70%;
}

.company__name {
    float: left;
    margin-top: 37px;
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
}

.company__name::first-letter {
    color: #1abc9c;
    font-weight: bold;
}

.navigation {
    float: right;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 38px;
}

.navigation a:hover, 
.navigation a:focus {
    color: #1abc9c;
}

.nav__item {
    float: left;
    text-align: center;
    padding: 0px 18px ;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #515151;
    font-size: 10px;
    line-height: 11px;
}

/* 
Slider
*/

.slider {
    margin-bottom: 98px;
}

.slider__item {
    position: relative;
}

.slider__item::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 2, .52);
    z-index: 1;
}
  
.slider__img {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slider__title {
    color: #ffffff;
    font-size: 54px;
    line-height: 82px;
    font-weight: bold;
    text-transform: uppercase;
}

.slider__text {
    color: #ffffff;
    font-size: 24px;
    line-height: 54px;
    text-transform: uppercase;
}
  
.slider__buttons {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 50px;
    line-height: 11px;
    
}

.button__cntrl__prev {
    position: absolute;
    background-color: rgb(78, 198, 171, .651);
    width: 104px;
    height: 104px;
    left: 245px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 3;
}

.button__cntrl__next{
    position: absolute;
    background-color: rgb(26, 188, 156);
    width: 104px;
    height: 104px;
    left: 1252px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 3;
}

/* 
Main
*/

.subsection {
    max-width: 1111px;
    margin: 0 auto;
}

.subsection__name {
    margin-bottom: 40px;
    color: #515151;
    font-size: 48px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.subsection__name::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 92px;
    width: 164px;
    height: 7px;
    background: #1abc9c;
}

.product__list {
    margin-bottom: 98px;
}
  
.product__item {
    position: relative;
    float: left;
    width: 255px;
    height: 322px;
}

.product__item:not(:nth-of-type(4n)) {
    margin-right: 30px;
}

.product__item:not(:nth-last-of-type(-n+4)) {
    margin-bottom: 30px;
}

.product__item:hover .overlay {
    opacity: 1;
    background-color: rgb(0, 0, 0, .549);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 283px;
    left: 0;
    top: 0;
    border: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    opacity: 0;
}

.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 166px;
}

.icon__item {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    margin-right: 4px;
    margin-bottom: 7px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}

.icon__item:hover {
    border-color: rgb(26, 188, 156);
    background-color: rgb(26, 188, 156);
}

.icon__item:nth-of-type(3n) {
    margin-right: 0;
}

.icon__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.add__item {
    display: block;
    position: relative;
    height: 50px;
    width: 166px;
}

.add__link {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
}

.add__wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    margin-left: 10px;
}

.add__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
}


.icon__add {
    float: left;
}

.icon__descr {
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}


.product__img {
    position: relative;
    overflow: hidden;
    height: 283px;
    text-align: center;
}

.product_info {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(322px - 283px);
    overflow: hidden;
}

.product__info:hover .product__name {
    background-color: #1abc9c;
}

.product__info:hover .price {
    background-color: #1abc9c;
    opacity: .5;
}

.product__name {
    float: left;
    display: block;
    padding-left: 13px;
    width: 201px;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    float: right;
    display: block;
    width: 54px;
    text-align: center;
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

/* 
Footer
*/

.footer {
    position: relative;
    height: 88px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
}

.copyright {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
}

.designer {
    color: #1abc9c;
}
  