* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 903px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* 
Header 
*/

.navigation {
    display: block;
    text-align: center;
}

.site__navigation a:hover, .site__navigation a:focus {
    color: #03a9f4;
}

.nav__item {
    float: left;
    display: block;
    text-align: center;
    margin: 80px 80px 100px 80px;
    list-style: none;
}

.nav__link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

/*
Header
*/

/*
Main
*/

.main__article {
    width: 420px;
    display: inline-block;
    margin-right: 59px;
    margin-bottom: 135px;
}
.main__article:nth-child(2n) {
    margin-right: 0;
}

.main__article:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 30px;
    margin-bottom: 27px;
    font-size: 14px;
    line-height: 16px;
    color: #b4ad9e;
}

.title__article {
    margin-bottom: 34px;
    font-size: 30px;
    line-height: 36px;
    color: #626262;
}

.section__content {
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

.button {
    margin-top: 52px;
    margin-bottom: 68px;
    border: 1px;
    text-align: center;
}

.load__button {
    background: #ffffff;
    padding: 20px 40px;
    text-align: center;
    color: #626262;
    border-color: black;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

/*
Header 
*/
