html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    /* min-width: 320px; */
    margin: 0 auto;
    vertical-align: top;
}

/* 
Header
*/

.header {
    background-image: url('../img/header-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 540px;
    margin-bottom: 68px;
}

.header::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(26, 25, 21, .3);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 540px;
    width: 100%;
}

.accounting {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 115px;
    max-width: 52.5%;
}

.account__item {
    padding: 6px 10px;
    border: 2px solid transparent;
}

.account__item:hover,
.account__item:focus {
    border-color: #fff;
    border-radius: 20px;
}

.account__link {
    font-family: "Montserrat-700", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    
}

.logo {
    margin-bottom: 37px;
}

.img__logo {
    margin: 0 auto;
}

.header__title {
    font-family: "Montserrat-700", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 86.97%;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}

.header__descrp {
    font-family: "Roboto-300", sans-serif;
    font-style: normal;
    font-weight: 300;
    width: 68.75%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.button__head {
    margin: 0 auto;
    text-align: center;
}

.header__button {
    font-family: "Montserrat-700", sans-serif;
    font-style: normal;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 16px 36px;
    color: #fff;
}

.button__head:hover .header__button,
.button__head:focus .header__button {
    background-color: rgb(255, 78, 80);
    border-color: rgb(255, 78, 80);
}

/* 
Main
*/

.section__name {
    font-family: "Montserrat-700";
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    font-size: 21.98px;
    line-height: 26.37px;
}

.partner__list {
    margin: 0 auto;
    text-align: center;
}

.partner__item {
    margin-bottom: 30px;
}

.img__partner {
    position: relative;
    margin: 0 auto;
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}

.icon {
    position: absolute;
    width: 34px;
    height: 34px;
    bottom: 0;
    right: 0;
    border: 5px solid #fff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.partner__name {
    font-family: "Montserrat-700";
    font-style: normal;
    font-weight: 700;
    margin-bottom: 17px;
    font-size: 13.97px;
    line-height: 16.76px;
    color: #333;
}

.partner__dscpr {
    font-family: "Roboto-300";
    font-style: normal;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    width: 60.93%;
    font-size: 13.97px;
    line-height: 16.76px;
}

.button__patrn {
    text-align: center;
    margin-bottom: 57px;
}

.button__see_partn {
    font-family: "Montserrat-700", sans-serif;
    font-style: normal;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(255, 78, 80);
    border-radius: 20px;
    padding: 12px 58px;
    color: rgb(255, 78, 80);
}

.button__patrn:hover .button__see_partn,
.button__patrn:focus .button__see_partn {
    background-color: rgb(255, 78, 80);
    color: #fff;
}

/* 
Icon
*/

.icon__tv {
    background-image: url('../img/icon-tv.png');
    background-color: #ff4e50;
}

.icon__bulb {
    background-image: url('../img/icon-bulb.png');
    background-color: #ffa507;
}

.icon__cup {
    background-image: url('../img/icon-cup.png');
    background-color: #1cd7ad;
}

.icon__plane {
    background-image: url('../img/icon-plane.png');
    background-color: #4e73db;
}

@media (min-width: 768px) {
    /* 
    Header
    */

    .header {
        height: 700px;
    }
    .menu {
        height: 700px;
    }

    .header__nav {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 86.97%;
        margin: 0 auto;
        margin-bottom: 106px;
    }
    
    .accounting {
        width: 25%;
        margin: 0;
    }
    
    .logo {
        margin-top: 32px;
        width: 23.17%;
    }

    .header__title {
        font-size: 51.97px;
        line-height: 77.92px;
        margin-bottom: 26px;
        margin: 0 auto;
    }

    .header__descrp {
        font-size: 23.99px;
        line-height: 28.78px;
        margin-bottom: 35px;
    }

    /* 
    Main
    */

    .section__name {
        margin-bottom: 35px;
    }

    .partner__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 502px;
    }

    .partner__item {
        width: 236px;
        margin-bottom: 60px;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 3;
    }
    .order3  {
        order: 2;
    }

    .order4 {
        order: 4;
    }

    .partner__item:nth-of-type(-n+1),
    .partner__item:nth-of-type(-n+2) {
        margin-right: 20px;
    }

    .partner__item:nth-of-type(2n) {
        margin-bottom: 40px;
    }

    .partner__dscpr {
        width: 81.35%;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 960px;
    }

    /* 
    Header
    */

    
    .accounting {
        width: 20%;
    }
    
    .header__title {
        width: 53%;
        margin: 0 auto;
    }
    
    /* 
    Main
    */
    
    .partner__list {
        width: 960px;
    }

    .partner__item {
        width: 224px;
        margin-right: 20px;
    }

    .partner__item:nth-of-type(4n) {
        margin-right: 0;
    }
}

  

