html {
    box-sizing: border-box;
} 

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1111px;
    margin: 0 auto; 
    vertical-align: top;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* 
Header
*/

.company__name {
    float: left;
    margin-top: 37px;
    margin-bottom: 114px;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
}

.company__name::first-letter {
    color: #1abc9c;
    font-weight: bold;
}

.navigation {
    float: right;
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 120px;
}

.navigation a:hover, 
.navigation a:focus {
    color: #1abc9c;
}

.nav__item {
    float: left;
    text-align: center;
    padding: 0px 18px ;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #515151;
    font-size: 10px;
    line-height: 11px;
}

/* 
Main
*/

.subsection {
    margin-bottom: 105px;
}

.subsection__name {
    margin-bottom: 40px;
    color: #515151;
    font-size: 48px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.subsection__name::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 92px;
    width: 164px;
    height: 7px;
    background: #1abc9c;
}

 .subsection__line:nth-last-of-type(1n) {
     margin-bottom: 80px;
}

.img__wrapper {
    display: block;   
}


.product__item {
    float: left;
    width: 255px;
}

.product__item:hover .product__name {
    background-color: #1abc9c;
}

.product__item:hover .price {
    background-color: #1abc9c;
}

.product__item:not(:nth-of-type(4n)) {
    margin-right: 30px;
}

.product__item:not(:nth-last-of-type(-n+4)) {
    margin-bottom: 30px;
}

.product__name {
    float: left;
    display: block;
    padding-left: 13px;
    width: 201px;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    float: right;
    display: block;
    width: 54px;
    text-align: center;
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.news__item {
    float: left;
    display: block;
    width: 350px;
}

.news__item:not(:nth-of-type(3n)) {
    margin-right: 30px;
}

.img__news {
    margin-bottom: 20px;
}

.news__title {
    margin-bottom: 20px;
    font-size: 18px; 
    line-height: 26px;
    font-weight: bolder;
    color: #555252;
}

.news__title::after {
    content: '';
    display: block;
    margin-top: 20px;
    margin-bottom: 36px;
    text-align: left;
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
}

.news__article {
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 26px;
    color: #555252;
}

.button {
    margin-bottom: 80px;
    border: none; 
    outline: none; 
    cursor: pointer;
}

.button__read__mr {
    padding: 15px 32px;
    text-align: center;
    background-color: #1abc9c;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    border-radius: 5px;
}